* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    /* background: rgb(30, 31, 36); */
    background: #AAA;
    color: black;
    /* color: #333; */
    /* color: rgba(255,255,255,0.85); */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

a {
    /* color: rgba(255,255,255,0.8); */
    color: black;
    position: relative;
    pointer-events: all;
}

a:hover {
    color: black;
    /* color: rgba(255,255,255,1); */
}


#map {
    width: 100%; 
    height: 100%;
    background: transparent
}
#map .leaflet-div-icon {
    width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    background: transparent;
}
#map .leaflet-div-icon > div {
    position: relative;
    left: 50%;
    top: 50%;
    /* background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon-2x.png'); */
    background-image: url('marker.svg');
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    display: inline-block;
    transform: translate(-50%, calc(-100% + 1px) );
}

#map .leaflet-div-icon > div > div {
    font-weight: bold;
    position: relative;
    color: black;
    top: 3px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

#map .leaflet-marker-icon {
    /* filter: drop-shadow(0 0 5px red); */
    /* filter:
        sepia(1)
        hue-rotate(180deg)
        saturate(0.1)
        invert(1)
        drop-shadow(0 0 10px black) */
}

#map .leaflet-tile-pane {
    filter:
        grayscale(1)
        /* invert(1) */


    /* filter:
        invert(1)
        sepia(1)
        hue-rotate(180deg)
        saturate(0.2) */
}



#controls {
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: left;
    text-shadow: 0 0 4px #aaa;
    pointer-events:none;
    padding: 20px 30px 28px 30px;
}

#controls #name {
    /* color: #222; */
    font-size: 40px;
    font-weight: bold;
}
#controls #nav {
    margin-top: 10px;
}

#controls #about {
    margin: 14px 0 20px 0;
}

#controls #info-details {
    display: block;
}


#controls pre {
    font-family: Menlo, monospace;
    font-size: 14px;
}

#controls .shapehdr {
    /* color: #222; */
    margin: 20px 0 5px 0;
}

#controls pre {
    margin: 0;
}

#controls .shapehdr pre {
    font-weight: bold;
}

#controls .shapehdr > div {
    position: absolute;
    margin-top: 1px;
    margin-left: 0px;
    width: 15px;
    height: 13px;
}

#controls .hred > div {
    background-color: rgb(191, 70, 52);
    border: 2px solid rgb(191, 70, 52);
    background-color: red;
    border: 2px solid red;
    pointer-events: all;
    cursor: pointer;
}

#controls .hblue > div {
    /* background-color: rgb(85, 125, 193);
    border: 2px solid rgb(85, 125, 193); */
    background-color: blue;
    border: 2px solid blue;
    
    pointer-events: all;
    cursor: pointer;
}

#bottom-about {
    color: #666;
    position: absolute;
    bottom: 0;
    z-index: 10001;
    margin: 30px;
    font-size: 15px;
    pointer-events: none;
    text-shadow: 0px 0px 4px #aaa;
}

#topright-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10002;
    margin: 30px;
    font-size: 15px;
    pointer-events: none;
}

#github-link {
    filter: invert(1);
    opacity: 0.8;

}

#github-link:hover {
    opacity: 1;
}

#best-viewed {
    color: black;
    display: none;
}

#vals_sphere_min {
    display: none;
}

#vals_ellipsoid_min {
    display: none;
}



@media screen and (max-width: 640px) {
    #controls {
        padding: 10px 15px 14px 15px;
    }
    #controls #info-details {
        display: inline-block;
        position: relative;
        top: -24px;
    }
    #controls #info-details > div {
        display: inline-block;
    }
    #controls #ellipsoid_info {
        /* margin-left: 15px; */
        
    } 
    #controls #sphere_info #vals_sphere {
        display:none;
    }
    #controls #ellipsoid_info #vals_ellipsoid {
        display:none;
    }
    #best-viewed {
        display: block;
    }
    #vals_sphere_min, #vals_ellipsoid_min {
        min-width: 240px;
    }
    #vals_sphere_min {
        display: block;
    }
    #vals_ellipsoid_min {
        display: block;
    }
    

    #topright-links {
        margin: 18px 15px;
    }
    #bottom-about {
        margin: 15px;
    }
    #jbcopyright {
        display: none;
    }
}


/* @media screen and (max-width: 400px) {
    #controls pre {
    }
} */

